/* Permite que o CSS entenda caracteres especiais (acentuação, ç, ...) */
@charset "UTF-8";

/* Importa fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    /* 
    No CSS toda variável é declarada com --nome_da_variavel e 
    a inicialização dela é feita com o operador :
    */
    /* Representa as cores como variáveis do CSS */
    --cor0: #ffffff;
    --cor1: #f7f4ef;
    --cor2: #d4b398;
    --cor3: #a97852;
    --cor4: #324050;
    --cor5: #1a1919;
    --cor6: #000000;
    /* Representa famílias de fontes como variáveis do CSS */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-principal: 'Open Sans', sans-serif;
    --fonte-destaque: 'Merriweather', serif;
    /*
    A vantagem de usar variáveis para representar cores e 
    fontes, é que se for necessário trocar as cores e as 
    fontes do site, basta só alterar a cor da variável que 
    está em :root {}, evitando assim ter que alterar 
    individualmente em todos os seletores que usam essas 
    cores e fontes
    */
}

/* Seletor global */
* {
    /* Elimina a margin e o padding padrão de todos os elementos do HTML */
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #000000
}

body {
    background-color: var(--cor0);
}

body strong {
    font-weight: bolder;
    color: var(--cor3);
}

/*======================================================================================================================*/
/* Estilizando o cabeçalho */
/*======================================================================================================================*/
header {
    /*background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));*/
    background-color: var(--cor3);
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--cor5);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 50%;
}

.logo > img {
    width: 53.62px;
    height: 29.81;
    padding: 2%;
}

.logo > h1 {
    font-size: 1.5em;
    font-style: italic;
    color: var(--cor2);
}

#btn-menu {
    z-index: 6;
    
    display: none;
}

header nav {
    z-index: 5;

    width: 50%;                 /* 50% da largura da tela pra caixa da tag <nav></nav> */
}

header ul {
    list-style-type: none;      /* Retira a bolinha preta dos itens da lista */
    display: flex;              /* Coloca todos os itens da lista em uma única linha  */
    font-size: 1.5em;
}

header a {
    color: var(--cor1);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--cor2);
}

header li {
    padding-left: 10%;          /* Gera um espaçamento entre os itens da lista */
}

#idioma {
    width: 40px;
    height: 21px;
    margin: 2%;

    cursor: pointer;
}


/*======================================================================================================================*/
/* Estilizando o conteúdo principal */
/*======================================================================================================================*/
main {
    background-color: var(--cor2);
    padding-bottom: 6%;
}

.contato {
    margin: auto;
    width: 70%;
    background-color: var(--cor1);
    padding: 2%;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

main h1 {
    display: block;
    font-family: var(--fonte-titulo);
    text-align: center;

    padding-top: 2%;
    padding-bottom: 2%;
} 

main h2 {
    background-color: var(--cor3);
    font-family: var(--fonte-titulo);
    text-align: center;
}

main h3 {
    font-size: 1.2em;
    padding-right: 1%;
    padding-left: 1%;
}

main p {
    font-size: 1.2em;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
}

i {
    font-size: 1.2em;
    color: #333;
    padding-right: 10px;
}

.pergunta {
    transition: background-color 0.5s ease;
}

.pergunta:hover {
    background-color: rgba(211, 211, 211, 0.705);
}

form {
    width: 100%;
    margin: auto;
    background-color: var(--cor3);
    color: var(--cor5);
    padding-bottom: 4%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    padding-left: 5%;
}

.entrada-texto {
    display: inline-block;
    width: 49%;
    position: relative;
}

input, textarea {
    width: 96%;
    border: none;
    color: var(--cor6);
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    resize: none;
    outline: none;
    box-sizing: border-box; /* Ensure padding is included in width and height calculations */
}

input::placeholder, textarea::placeholder {
    font-size: 1.1em;
}

.btn-form {
    display: block;
    width: 20%;
    margin: auto;
    padding: 2%;
    background-color: var(--cor5);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}

button:active {
    background-color: #333;
}

.dynamic-label {
    color: var(--cor2);
    display: none;
    position: absolute;
    top: -5px; /* Adjust this value to control the vertical position of the label */
    left: 0px; /* Adjust this value to control the horizontal position of the label */
}

/*======================================================================================================================*/
/* Estilizando o rodapé */
/*======================================================================================================================*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--cor5);

    padding-top: 3%;
    padding-bottom: 3%;
}

footer nav {
    display: inline;
}

footer ul {
    list-style-type: none;      /* Retira a bolinha preta dos itens da lista */
    display: flex;              /* Coloca todos os itens da lista em uma única linha  */
    font-size: 1.5em;

    padding-bottom: 1.5%;
}

.fab {
    margin: 0 10px;             /* Isso adiciona uma margem de 10px à esquerda e à direita de cada ícone */
    color: var(--cor0);
}

.fab:active {
    color: var(--cor2);
}

footer p {
    text-align: center;
    font-size: 1em;
    color: var(--cor1);
    
    padding-top: 1.5%;
}


/*======================================================================================================================*/
/* Deixando o site responsivo para Smartphones em pé (dispositivos cujas telas tem largura <= 450px) */
/*======================================================================================================================*/
@media (max-width: 450px) {
    /*======================================================================================================================*/
    /* Estilizando o cabeçalho */
    /*======================================================================================================================*/

    .logo {
        display: flex;
        align-items: center;
        justify-content: left;

        width: 100%;
    }

    /* ================================================================================================= */
    #btn-menu {
        display: block;
        width: 20%;
        /*
        height: 45%;
        */
    
        border: none;
        background-color: transparent;
    }
    
    .linha {
        display: block;
    
        width: 66.66%;
        height: 3.33%;
    
        margin: 10% auto;
    
        background-color: #ccc;
    
        cursor: pointer;
    }
    /* ================================================================================================= */

    header nav {
        display: none;
    }

    .nav {
        display: flex;
        background-color: var(--cor5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 40vh;
    }

    .nav-ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        width: 100vw;
        height: 100%;
    }

    .nav-ul-li {
        padding-left: 0;
        padding-block: 5%;
    }

    /*======================================================================================================================*/
    /* Estilizando o conteúdo principal */
    /*======================================================================================================================*/
    main {
        padding-bottom: 14%;
    }

    main h1 {
        padding-inline: 4%;
    }

    main h2 {
        padding-block: 1%;
    }

    main h3 {
        padding-inline: 3%;
    }

    main p {
        padding-block: 4%;
        padding-inline: 3%;
    }
    
    .contato {
        width: 100%;
        padding: 0;
    }

    #form {
        flex-direction: column;
        padding-bottom: 0;
    }

    .entrada-texto {
        width: 96%;
    }

    .btn-form {
        width: 40%;
    }

    /*======================================================================================================================*/
    /* Estilizando o rodapé */
    /*======================================================================================================================*/
    footer p {
        width: 70%;
    }
}