/* Permite que o CSS entenda caracteres especiais (acentuação, ç, ...) */
@charset "UTF-8";

/* Importa fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    /* 
    No CSS toda variável é declarada com --nome_da_variavel e 
    a inicialização dela é feita com o operador :
    */
    /* Representa as cores como variáveis do CSS */
    --cor0: #ffffff;
    --cor1: #f7f4ef;
    --cor2: #d4b398;
    --cor3: #a97852;
    --cor4: #333;
    --cor5: #1a1919;
    --cor6: #000000;
    /* Representa famílias de fontes como variáveis do CSS */
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-principal: 'Open Sans', sans-serif;
    --fonte-destaque: 'Merriweather', serif;
    /*
    A vantagem de usar variáveis para representar cores e 
    fontes, é que se for necessário trocar as cores e as 
    fontes do site, basta só alterar a cor da variável que 
    está em :root {}, evitando assim ter que alterar 
    individualmente em todos os seletores que usam essas 
    cores e fontes
    */
}

/* Seletor global */
* {
    /* Elimina a margin e o padding padrão de todos os elementos do HTML */
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #000000
}

body {
    background-color: var(--cor0);
}

body strong {
    font-weight: bold;
    color: var(--cor3);
}

/*======================================================================================================================*/
/* Estilizando o cabeçalho */
/*======================================================================================================================*/
header {
    /*background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));*/
    background-color: var(--cor3);
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--cor5);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 50%;
}

.logo > img {
    width: 53.62px;
    height: 29.81;
    padding: 2%;
}

.logo > h1 {
    font-size: 1.5em;
    font-style: italic;
    color: var(--cor2);
}

button {
    z-index: 6;
    
    display: none;
}

header nav {
    z-index: 5;

    width: 50%;                 /* 50% da largura da tela pra caixa da tag <nav></nav> */
}

header ul {
    list-style-type: none;      /* Retira a bolinha preta dos itens da lista */
    display: flex;              /* Coloca todos os itens da lista em uma única linha  */
    font-size: 1.5em;
}

header a {
    color: var(--cor1);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--cor2);
}

header li {
    padding-left: 10%;          /* Gera um espaçamento entre os itens da lista */
}

#idioma {
    width: 40px;
    height: 21px;
    margin: 2%;

    cursor: pointer;
}

#carrossel {
    position: relative;             /* Os controles esquerda e direita se posicionam em relação a caixa da tag de id ="carrossel" */

    margin: auto;

    display: flex;
    overflow: hidden;
    width: 90%;
    
}

#banner img {
    position: relative;
    z-index: 0;

    display: none;  /*As imagens começam invisíveis*/
    width: 33.33%;

    transition: transform 0.3s ease;
    z-index: 1;
}

#banner img:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.616);
    transform: scale(1.05);
    z-index: 2;
}

#esquerda {
    display: none;                  /* Tirei por enquanto */
    position: absolute;             /* Torna os controles independentes do fluxo normal do documento */
    top: 50%;                       /* Posiciona o controle da esquerda na metade da altura da caixa pai */
    left: 0;                        /* Alinha o controle da esquerda à esquerda da caixa pai */
    transform: translateY(-50%);    /* Centraliza verticalmente o controle da esquerda em relação à sua própria altura */
    z-index: 3;                     /* Garante que o controle da esquerda vai estar em cima das imagens*/

    background-color: rgba(0, 0, 0, 0.6);
    padding: 1%;
}

#direita {
    display: none;                  /* Tirei por enquanto */

    position: absolute;             /* Torna os controles independentes do fluxo normal do documento */
    top: 50%;                       /* Posiciona o controle da direita na metade da altura da caixa pai */
    right: 0;                       /* Alinha o controle da direita à direita da caixa pai */
    transform: translateY(-50%);    /* Centraliza verticalmente o controle da direita em relação à sua própria altura */
    z-index: 3;                     /* Garante que o controle da direita vai estar em cima das imagens*/

    background-color: rgba(0, 0, 0, 0.6);
    padding: 1%;
}

i {
    color: white;
}

#controle {
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1%;
}

.controles {
    margin: 0.5%;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: var(--cor1);

    border: 3px solid var(--cor1);
    border-radius: 100%;
}


/*======================================================================================================================*/
/* Estilizando o conteúdo principal */
/*======================================================================================================================*/
main {
    background-color: var(--cor0);

    margin-top: 2%;
}

section {
    margin: auto;
    width: 70%;
    
    background-color: var(--cor1);
}

.history {
    display: flex;
    align-items: center;                    /* Alinha os filhos da tag de classe historia verticalmente */
    justify-content: space-between;         /* coloca um espaço igual entre a imagem e o texto */

    /*border-top: 5px solid var(--cor5);*/
}

main img {
    display: inline-block;
    width: 50%;
}

main h1 {
    display: block;
    font-family: var(--fonte-titulo);
    text-align: center;

    padding-top: 2%;
    padding-bottom: 2%;
} 

main h2 {
    font-family: var(--fonte-titulo);
    text-align: center;
}

main > section p {
    text-indent: 5%;
    text-align: justify;
    font-family: var(--fonte-principal);
    line-height: 1.5;                        /* Espaço entre as linhas do parâgrafo */

    padding: 5%;
}

div#venha-visitar {
    background-image: linear-gradient(to top, var(--cor2), var(--cor0));
    display: block;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

div#venha-visitar > p {
    display: block;
    width: 70%;
    margin: auto;

    text-align: center;
    font-family: var(--fonte-principal);
    line-height: 1.5; 
}

/*======================================================================================================================*/
/* Estilizando o rodapé */
/*======================================================================================================================*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--cor5);

    padding-top: 3%;
    padding-bottom: 3%;
}

footer nav {
    display: inline;
}

footer ul {
    list-style-type: none;      /* Retira a bolinha preta dos itens da lista */
    display: flex;              /* Coloca todos os itens da lista em uma única linha  */
    font-size: 1.5em;

    padding-bottom: 1.5%;
}

.fab {
    margin: 0 10px;             /* Isso adiciona uma margem de 10px à esquerda e à direita de cada ícone */
    color: var(--cor0);
}

.fab:active {
    color: var(--cor2);
}

footer p {
    text-align: center;
    font-size: 1em;
    color: var(--cor1);
    
    padding-top: 1.5%;
}

/*======================================================================================================================*/
/* Deixando o site responsivo para Smartphones em pé (dispositivos cujas telas tem largura <= 450px) */
/*======================================================================================================================*/
@media (max-width: 450px) {
    /*======================================================================================================================*/
    /* Estilizando o cabeçalho */
    /*======================================================================================================================*/

    .logo {
        display: flex;
        align-items: center;
        justify-content: left;

        width: 100%;
    }

    /* ================================================================================================= */
    button {
        display: block;
        width: 20%;
        /*
        height: 45%;
        */
    
        border: none;
        background-color: transparent;
    }
    
    .linha {
        display: block;
    
        width: 66.66%;
        height: 3.33%;
    
        margin: 10% auto;
    
        background-color: #ccc;
    
        cursor: pointer;
    }
    /* ================================================================================================= */

    header nav {
        display: none;
    }

    .nav {
        display: flex;
        background-color: var(--cor5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 40vh;
    }

    .nav-ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        width: 100vw;
        height: 100%;
    }

    .nav-ul-li {
        padding-left: 0;
        padding-block: 5%;
    }

    #banner {
        overflow: hidden;
    }

    #banner img {
        display: inline-block;
        width: 100%;                 /* Como tem 3 imagens, dividi a largura da caixa em 33,33% da largura da tela */
        transition: transform 1s ease;
    }

    #banner img:hover{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.616);
        transform: scale(1.0);
        z-index: 1;
    }

    /*======================================================================================================================*/
    /* Estilizando o conteúdo principal */
    /*======================================================================================================================*/
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 4%;
    }
    
    section {
        width: 100%;
    }

    .history {
        flex-direction: column;
    }

    main img {
        width: 100%;
    }

    main h2 {
        padding-top: 4%;
        padding-right: 4%;
        padding-left: 4%;
    }

    main > section p {
        text-indent: 5%;
        text-align: justify;
        font-family: var(--fonte-principal);
        line-height: 1.5;                        /* Espaço entre as linhas do parâgrafo */

        padding: 4%;
    }

    div#venha-visitar {
        background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    }

    div#venha-visitar > p {
        width: 92%;
    }

    /*======================================================================================================================*/
    /* Estilizando o rodapé */
    /*======================================================================================================================*/
    footer p {
        width: 70%;
    }
}

/*======================================================================================================================*/
/* Deixando o site responsivo para Smartphones deitados (dispositivos cujas telas tem largura <= 1100px) */
/*======================================================================================================================*/
@media (min-width: 450px) and (max-width: 1100px) {
    /*======================================================================================================================*/
    /* Estilizando o cabeçalho */
    /*======================================================================================================================*/
    
    .carrossel {
        display: none;
    }


    /* ================================================================================================= */
    button {
        display: block;
        width: 40px;
        /*
        height: 45%;
        */
    
        border: none;
        background-color: transparent;
    }
    
    .linha {
        display: block;
    
        width: 66.66%;
        height: 3.33%;
    
        margin: 10% auto;
    
        background-color: #ccc;
    
        cursor: pointer;
    }
    /* ================================================================================================= */

    header nav {
        display: none;
    }

    #banner {
        overflow: hidden;
    }

    #banner img {
        display: inline-block;
        width: 50%;                 /* Como tem 3 imagens, dividi a largura da caixa em 33,33% da largura da tela */
        transition: transform 1s ease;
    }

    #banner img:hover{
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.616);
        transform: scale(1.0);
        z-index: 1;
    }

    /*======================================================================================================================*/
    /* Estilizando o conteúdo principal */
    /*======================================================================================================================*/
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 4%;
    }
    
    section {
        width: 100%;
    }

    .history {
        flex-direction: column;
    }

    main img {
        width: 100%;
    }

    main h2 {
        padding-top: 4%;
        padding-right: 4%;
        padding-left: 4%;
    }

    main > section p {
        text-indent: 5%;
        text-align: justify;
        font-family: var(--fonte-principal);
        line-height: 1.5;                        /* Espaço entre as linhas do parâgrafo */

        padding: 4%;
    }

    div#venha-visitar {
        background-image: linear-gradient(to top, var(--cor2), var(--cor1));
    }

    div#venha-visitar > p {
        width: 92%;
    }

    /*======================================================================================================================*/
    /* Estilizando o rodapé */
    /*======================================================================================================================*/
    footer p {
        width: 70%;
    }
}